*{
  margin: 0;
  font-family: sans-serif,Roboto;
  user-select: none;
}
body {
  padding-top: 40px;
  overflow-x: hidden;
  width: 100%;
}
nav li {
  list-style: none;
  margin-right: 10px;
  font-weight: bold;
}
nav li:hover {
  color: forestgreen;
}
nav {
  display: flex;
  position: sticky;
  top: 20px;
  justify-content: center;

}
.border {
  display: flex;
  border-radius: 25px;
  border-color: black;
  background-color: white;
  border-width: 1px;
  border-style: solid;
  padding: 10px;
}
.hero-section {
  padding: 30px;
  display: flex;
  justify-content: center;
  width: 100vw;
}
.main-content {
  display: flex;
  margin-top: 50px;
  
}
.bold {
  font-size: 40px;
  margin-bottom: 10px;
}
.text-2 {
  font-size: large;
  margin-bottom: 20px;
}
.text-3 {
  margin-bottom: 20px;
}
.title{
  font-weight: bold;
  margin-bottom: 20px;
}
.project-link {
  text-decoration: none;
  color: black;
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  border-color: rgb(177, 50, 240);
  padding: 5px;
  margin-bottom: 40px;
}
.project-link:hover {
  box-shadow: 5px 5px 10px rgba(192,192,192,0.5), -5px -5px 10px #ffffff;

}
.green {
  color: forestgreen;
  font-weight: bold;
}
.technology {
  margin-top: 20px;
}


/* image styling*/
.floating-icon {
  display: flex;
  position: fixed;
  left: 10%;
  bottom: 10px;
}
.float {
  height: 50px;
  width: 50px;
}
.tech-image {
  height: 50px;
  width: 50px;
}
.profile-image {
  height: 200px;
  width: 200px;
  border-radius: 100px;
  object-fit: cover;
  object-position: right;
  margin-left: 20px;
}







